# Настройки среды разработки
.vscode/
.idea/

# Python virtual environments
env/
.venv/

# Скомпилированные файлы Python
*.py[cod]
*.so
*.egg-info/

# Миграции Django
migrations/


# SQLite базы данных
# *.sqlite3

# Логи
*.log

# Исключение файлов, которые не должны быть в репозитории
*.env
